@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/*Les Codes couleurs*/
$white: #FFFFFF;
$lightRose: #F2CEF2;
$lightViolet: #9E91B7;
$darkRose: #DF99F2;
$darkViolet: #3D2DA6;
$lightBlue: #07338C;
$darkBlue: #021740;
/*Les Fonts*/
$Cantarell:'Cantarell', sans-serif;
$Regular: 400;
$FontSizeText: 16px;
$FontSizeCitation: 14px;
$FontSizeFooter: 10px;
$FontSizeTitreH1: 68px;
$FontSizeTitreH1Responsive: 58px;
$FontSizeTitreH2: 32px;
$FontSizeTitreH2Responsive: 24px;
$FontSizeTitreH2Enigme: 43px;
$Panthera: Panthera;
$Beyno: BEYNO;
$Wakanda: Wakanda;
/*l' ajout des fonts télécharger*/
@font-face{
    font-family: Panthera;
    src: url(../IllustrationLogosEnigme/Fonts/PantheraRegular-MVZ9J.ttf);
    font-weight: $Regular;
}
@font-face{
    font-family: BEYNO;
    src: url(../IllustrationLogosEnigme/Fonts/BEYNO.otf);
    font-weight: $Regular;
}
@font-face{
    font-family: Wakanda;
    src: url(../IllustrationLogosEnigme/Fonts/WakandaForever-Regular.ttf);
    font-weight: $Regular;
}
/*style base*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#head{
    position: relative;
}
#head .icons{
    width: 100px;
    /*height: 400px;*/
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0%;
    left: 0%;
}
#head .icons .line-one{
    width: 8px;
    height: 400px;
    animation: lineOne 2s ease-in-out;
    background-color: $lightViolet;
}
@keyframes lineOne {
    0%{
        height: 0px;
    }
    100%{
        height: 400px;
    }
}
#head .icons .line-two{
    width: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: lineTwo 3s ease-in-out;
    align-items: center;
}
@keyframes lineTwo {
    0%{
        height: 0px;
    }
    100%{
        height: 400px;
    }
}
#head .icons .line-two .above{
    height: 280px;
    width: 8px;
    background-color: $lightViolet;
}
#head .icons .line-two .below{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#head .icons .line-two .below img{
    margin: 0.1em 0;
}
body{
    background: url(../IllustrationLogosEnigme/Logos/arrière_plan.png) no-repeat center center/cover;
}
/*header styles*/
header nav{
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
}
header nav .logos{
    width: 12%;
    height: inherit;
    margin: 0 140px;
    display: flex;
    place-items: center;
    cursor: pointer;
    &:hover{
        filter: blur(1px);
    }
}
header nav .liens{
    width: 30%;
    height: inherit;
    margin: 0 100px;
}
header nav .liens ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: inherit;
}
header nav .liens ul li:nth-child(3) h2 a{
    text-decoration: underline;
    color: $lightViolet;
}
header nav .liens ul li h2{
    font-family: $Beyno;
    font-size: $FontSizeTitreH2Responsive;
    font-weight: $Regular;
}
header nav .liens ul li h2 a{
    text-decoration: none;
    color: $white;
}
header nav .liens ul li h2 a:hover{
    text-decoration: underline;
}
main{
    width: 100%;
    background: url(../IllustrationLogosEnigme/Logos/arrière_plan.png) no-repeat center center/cover;
}
.head{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 0 0 200px $darkBlue;
    background: url(../IllustrationLogosEnigme/Illustrations/Pantherenigme1.png) no-repeat left center/contain;
}
.head .desc{
    width: 46%;
    height: 80vh;
}
.head .desc article h1{
    font-family: $Beyno;
    font-size: $FontSizeTitreH1Responsive;
    font-weight: $Regular;
    color: $lightViolet;
}
.head .desc .circle{
    width: 100%;
    height: 46vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url(../IllustrationLogosEnigme/Illustrations/Pantherenigme2.png) no-repeat center center/contain;
}
.head .desc .circle article{
    width: 70%;
    height: 26vh;
}
.head .desc .circle article p{
    font-family: $Cantarell;
    font-size: $FontSizeCitation;
    font-weight: $Regular;
    color: $white;
    text-align: justify;
}
.head .desc .line-picture{
    width: 100%;
    height: 10vh;
    background: url(../IllustrationLogosEnigme/Illustrations/Pantherenigme3.png) no-repeat center center/contain;
}
.more-desc{
    width: 100%;
    height: 120vh;
    position: relative;
    display: grid;
    align-content: center;
}
.more-desc .first{
    width: 80%;
    height: 20vh;
    transition: all .3s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    padding-left: 140px;
}
.more-desc .first h2{
    font-family: $Wakanda;
    font-size: $FontSizeTitreH2Enigme;
    color: $lightViolet;
    font-weight: $Regular;
}
.more-desc .second{
    margin: 2.5em 0;
    padding-left: 140px;
    width: 100%;
    height: 20vh;
}
.more-desc .second p{
    font-family: $Cantarell;
    font-size: $FontSizeText;
    color: $white;
    font-weight: $Regular;
}
.more-desc .second p.para-second{
    margin: 1.5em 0;
}
.more-desc .second p.para-second span{
    font-family: $Wakanda;
    text-transform: uppercase;
}
.more-desc form{
    width: 100%;
    height: 40vh;
    padding-left: 140px;
}
.more-desc form div{
    width: 520px;
    display: flex;
    flex-direction: column;
}
.more-desc form div label{
    font-family: $Cantarell;
    font-size: $FontSizeText;
    color: $white;
    font-weight: $Regular;
    margin: 1.5em 0;
}
.more-desc form div input[type="text"]{
    width: 100%;
    height: 56px;
    border-radius: 38px;
    background-color: transparent;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    color: $lightRose;
    font-weight: $Regular;
    text-indent: 1em;
    border-color: $lightRose;
    outline: none;
}
.more-desc form .bouton{
    width: 520px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-desc form .bouton button{
    width: 30%;
    height: 56px;
    border-radius: 38px;
    border: none;
    outline: none;
    background-color: $lightRose;
    color: $darkBlue;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.more-desc .circle-pic{
    width: 46%;
    height: 50vh;
    position: absolute;
    top: 30%;
    right: 0%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url(../IllustrationLogosEnigme/Illustrations/Pantherenigme2.png) no-repeat center center/contain;
}
.more-desc .circle-pic article{
    width: 70%;
    height: 26vh;
}
.more-desc .circle-pic article p{
    font-family: $Cantarell;
    font-size: $FontSizeCitation;
    font-weight: $Regular;
    color: $white;
    text-align: center;
}
.more-desc .circle-pic article .two{
    margin: 1em 0;
}
/*footer*/
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../IllustrationLogosEnigme/Logos/back_footer.png) no-repeat center center/cover;
}
footer .contenus-footer{
    width: 70%;
    height: 70vh;
    display: flex;
    align-items: center;
}
footer .contenus-footer .contenus-cercle{
    width: 30%;
    height: 44vh;
    position: relative;
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    background: url(../IllustrationLogosEnigme/Logos/footer1.png) no-repeat center center/contain;
}
footer .contenus-footer .contenus-cercle img{
    position: absolute;
    top: 40%;
    left: 20%;
}
footer .contenus-footer .desc-footer{
    width: 70%;
    height: 44vh;
}
footer .contenus-footer .desc-footer .first{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 32vh;
}
footer .contenus-footer .desc-footer .first article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .contenus-footer .desc-footer .first article h2{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    letter-spacing: 0.6em;
}
footer .contenus-footer .desc-footer .first article ul{
    list-style-type: none;
    margin-right: 2em;
}
footer .contenus-footer .desc-footer .first article ul li {
    margin: 0.8em 0;
}
footer .contenus-footer .desc-footer .first article ul li p{
    font-size: $FontSizeText;
    font-family: $Cantarell;
    text-transform: capitalize;
}
footer .contenus-footer .desc-footer .first article ul li p a{
    color: $white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
footer .contenus-footer .desc-footer .first .cont-icons h2{
    text-align: center;
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    letter-spacing: 0.6em;
}
footer .contenus-footer .desc-footer .first .cont-icons div{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .contenus-footer .desc-footer .first .cont-icons div img{
    margin: 0 0.8em;
}
footer .contenus-footer .desc-footer .seconds{
    display: flex;
    align-items: center;
}
footer .contenus-footer .desc-footer .seconds p{
    color: $white;
    font-family: $Cantarell;
    font-weight: $Regular;
    font-size: $FontSizeFooter;
}
footer .contenus-footer .desc-footer .seconds #one{
    margin-left: 4.8em;
}
footer .contenus-footer .desc-footer .seconds div{
    width: 0.3em;
    height: 0.3em;
    background-color: $lightRose;
    margin: 0 0.2em;
    border-radius: 50px;
}
@media screen and (max-width: 768px){
    header nav{
        flex-direction: column;
        height: 28rem;
        justify-content: center;
        align-items: center;
    }
    header nav .logos{
        margin: 0;
    }
    header nav .liens{
        margin: 0;
    }
    header nav .liens ul{
        flex-direction: column;
        height: 12rem;
    }
    main{
        height: 450vh;
    }
    .head{
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
    }
    .head .desc{
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 100%;
        left: 0%;
    }
    .head .desc article h1{
        font-size: $FontSizeTitreH2Responsive;
        margin: 1em;
    }
    .head .desc .circle article{
        margin: 0;
        width: 90%;
    }
    .more-desc{
        width: 100%;
        height: 300vh;
    }
    .more-desc .first{
        padding: 1em;
    }
    .more-desc .first h2{
        font-size: $FontSizeTitreH2Responsive;
    }
    .more-desc form div{
        width: 100%;
    }
    .more-desc form div label{
        font-size: $FontSizeCitation;
    }
    .more-desc form div input[type="text"]{
        font-size: $FontSizeCitation;
    }
    .more-desc form .bouton{
        width: 100%;
    }
    .more-desc form .bouton button{
        font-size: $FontSizeCitation;
    }
    .more-desc .second{
        padding: 1em;
        height: 30vh;
    }
    .more-desc form{
        padding: 1em;
    }
    .more-desc .circle-pic{
        position: relative;
    }
    .more-desc .second p{
        font-size: $FontSizeCitation;
    }
    .more-desc .circle-pic{
        width: 100%;
    }
    footer .contenus-footer{
        width: 80%;
        flex-direction: column;
    }
    footer .contenus-footer .desc-footer{
        width: 100%;
    }
    footer .contenus-footer .desc-footer .first{
        display: flex;
        flex-direction: column;
    }
    footer .contenus-footer .desc-footer .first article h2{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first article ul{
        margin: 0;
    }
    footer .contenus-footer .desc-footer .first article ul li p{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first .cont-icons h2{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first .cont-icons div img{
        width: 2.5em;
        height: 2.5em;
        margin: 0 0.4em;
    }
    footer .contenus-footer .desc-footer .seconds{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .contenus-footer .desc-footer .seconds #one{
        margin: 0 2em;
    }
}