@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/*Les Codes couleurs*/
$white: #FFFFFF;
$lightRose: #F2CEF2;
$lightViolet: #9E91B7;
$darkRose: #DF99F2;
$darkViolet: #3D2DA6;
$lightBlue: #07338C;
$darkBlue: #021740;
/*Les Fonts*/
$Cantarell:'Cantarell', sans-serif;
$Regular: 400;
$FontSizeText: 16px;
$FontSizeCitation: 14px;
$FontSizeFooter: 10px;
$FontSizeTitreH1: 68px;
$FontSizeTitreH1Responsive: 58px;
$FontSizeTitreH2: 32px;
$FontSizeTitreH2Responsive: 24px;
$FontSizeTitreH2Enigme: 43px;
$Panthera: Panthera;
$Beyno: BEYNO;
$Wakanda: Wakanda;
/*l' ajout des fonts télécharger*/
@font-face{
    font-family: Panthera;
    src: url(../IllustrationLogosWakanda/Fonts/PantheraRegular-MVZ9J.ttf);
    font-weight: $Regular;
}
@font-face{
    font-family: BEYNO;
    src: url(../IllustrationLogosWakanda/Fonts/BEYNO.otf);
    font-weight: $Regular;
}
@font-face{
    font-family: Wakanda;
    src: url(../IllustrationLogosWakanda/Fonts/WakandaForever-Regular.ttf);
    font-weight: $Regular;
}
/*style base*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url(../IllustrationLogosWakanda/Logos/arrière_plan.png) no-repeat center center/cover;
}
/*Header styles*/
header{
    width: 100%;
    height: 20vh;
    background: url(../IllustrationLogosWakanda/Logos/arrière_plan.png) no-repeat center center/cover;
}
header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: inherit;
}
header nav .logos{
    width: 12%;
    height: 6rem;
    margin: 0 140px;
    display: flex;
    place-items: center;
    cursor: pointer;
    &:hover{
        filter: blur(1px);
    }
}
header nav .liens{
    width: 30%;
    height: 6rem;
    margin: 0 100px;
}
header nav .liens ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: inherit;
}
header nav .liens ul li:nth-child(2) h2 a{
    text-decoration: underline;
    color: $lightViolet;
}
header nav .liens ul li h2{
    font-family: $Beyno;
    font-size: $FontSizeTitreH2Responsive;
    font-weight: $Regular;
}
header nav .liens ul li h2 a{
    text-decoration: none;
    color: $white;
}
header nav .liens ul li h2 a:hover{
    text-decoration: underline;
}
main{
    width: 100%;
    height: 480vh;
    display: flex;
    flex-direction: column;
    background: url(../IllustrationLogosWakanda/Illustrations/Pantherwakanda2.png) no-repeat center center/contain;
}
main .hero{
    width: 99.6%;
    height: 100vh;
    margin: 0 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../IllustrationLogosWakanda/Illustrations/Pantherwakanda1.png) no-repeat center center/cover;
}
main .hero article{
    width: 72%;
    height: 70vh;
    padding-right: 22em;
}
main .hero article .super-hero{
    transition: all .3s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
main .hero article .super-hero h1{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH1Responsive;
}
main .hero article .super-hero h2{
    color: $lightViolet;
    font-family: $Wakanda;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Enigme;
}
main .hero article p{
    color: $white;
    font-family: $Cantarell;
    font-weight: $Regular;
    font-size: $FontSizeText;
    margin: 1.2em 0;
}
/*more article*/
.art-one{
    width: 100%;
    height: 140vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}
.art-one .one{
    padding-left: 140px;
    padding-top: 4em;
}
.art-one .one h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Responsive;
}
.art-one .one p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: $Regular;
    margin: 1.2em 0;
    text-align: justify;
}
.art-one .two{
    padding-right: 140px;
    padding-top: 4em;
}
.art-one .two h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Responsive;
}
.art-one .two p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: $Regular;
    margin: 1.2em 0;
    text-align: justify;
}
.art-two{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300vh;
    gap: 4em;
}
.art-two .one{
    padding-top: 4em;
    padding-left: 140px;
}
.art-two .one video{
    width: 100%;
    height: 40vh;
}
.art-two .one article h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Responsive;
}
.art-two .one article p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: $Regular;
    margin: 1.2em 0;
    text-align: justify;
}
.art-two .two{
    padding-top: 4em;
    padding-right: 140px;
}
.art-two .two .first h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Responsive;
}
.art-two .two .first p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: $Regular;
    margin: 1.2em 0;
    text-align: justify;
}
.art-two .two .seconds h2{
    color: $lightViolet;
    font-family: $Beyno;
    font-weight: $Regular;
    font-size: $FontSizeTitreH2Responsive;
}
.art-two .two .seconds p{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    font-weight: $Regular;
    margin: 1.2em 0;
    text-align: justify;
}
.art-two .two .pic-post{
    width: 100%;
    height: 50vh;
    background: url(../IllustrationLogosWakanda/Illustrations/Pantherwakanda2-1.png) no-repeat center center/cover;
}
/*footer*/
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../IllustrationLogosWakanda/Logos/back_footer.png) no-repeat center center/cover;
}
footer .contenus-footer{
    width: 70%;
    height: 70vh;
    display: flex;
    align-items: center;
}
footer .contenus-footer .contenus-cercle{
    width: 30%;
    height: 44vh;
    position: relative;
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    background: url(../IllustrationLogosWakanda/Logos/footer1.png) no-repeat center center/contain;
}
footer .contenus-footer .contenus-cercle img{
    position: absolute;
    top: 40%;
    left: 20%;
}
footer .contenus-footer .desc-footer{
    width: 70%;
    height: 44vh;
}
footer .contenus-footer .desc-footer .first{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 32vh;
}
footer .contenus-footer .desc-footer .first article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .contenus-footer .desc-footer .first article h2{
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    letter-spacing: 0.6em;
}
footer .contenus-footer .desc-footer .first article ul{
    list-style-type: none;
    margin-right: 2em;
}
footer .contenus-footer .desc-footer .first article ul li {
    margin: 0.8em 0;
}
footer .contenus-footer .desc-footer .first article ul li p{
    font-size: $FontSizeText;
    font-family: $Cantarell;
    text-transform: capitalize;
}
footer .contenus-footer .desc-footer .first article ul li p a{
    color: $white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
footer .contenus-footer .desc-footer .first .cont-icons h2{
    text-align: center;
    color: $white;
    font-family: $Cantarell;
    font-size: $FontSizeText;
    letter-spacing: 0.6em;
}
footer .contenus-footer .desc-footer .first .cont-icons div{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .contenus-footer .desc-footer .first .cont-icons div img{
    margin: 0 0.8em;
}
footer .contenus-footer .desc-footer .seconds{
    display: flex;
    align-items: center;
}
footer .contenus-footer .desc-footer .seconds p{
    color: $white;
    font-family: $Cantarell;
    font-weight: $Regular;
    font-size: $FontSizeFooter;
}
footer .contenus-footer .desc-footer .seconds #one{
    margin-left: 4.8em;
}
footer .contenus-footer .desc-footer .seconds div{
    width: 0.3em;
    height: 0.3em;
    background-color: $lightRose;
    margin: 0 0.2em;
    border-radius: 50px;
}
/*Responsive*/
@media screen and (max-width: 768px){
    header{
        height: 100vh;
    }
    header nav{
        flex-direction: column;
        height: 28rem;
        justify-content: center;
        align-items: center;
    }
    header nav .logos{
        margin: 0;
    }
    header nav .liens{
        margin: 0;
    }
    header nav .liens ul{
        flex-direction: column;
        height: 12rem;
    }
    main{
        height: 800vh;
        width: 100%;
    }
    main .hero article{
        padding-right: 0;
    }
    main .hero article .super-hero h1{
        font-size: $FontSizeTitreH2;
    }
    main .hero article .super-hero h2{
        font-size: $FontSizeTitreH2Responsive;
        margin: 1em 0;
    }
    main .hero article p{
        font-size: $FontSizeCitation;
    }
    .art-one{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: auto;
    }
    .art-one .one{
        padding: 1em;
    }
    .art-one .one p{
        font-size: $FontSizeCitation;
    }
    .art-one .two{
        padding: 1em;
    }
    .art-one .two p{
        font-size: $FontSizeCitation;
    }
    .art-two{
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 320vh;
    }
    .art-two .one{
        padding: 1em;
    }
    .art-two .two{
        padding: 1em;
    }
    .art-two .one article p{
        font-size: $FontSizeCitation;
    }
    .art-two .two .first p{
        font-size: $FontSizeCitation;
    }
    .art-two .two .seconds p{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer{
        width: 80%;
        flex-direction: column;
    }
    footer .contenus-footer .desc-footer{
        width: 100%;
    }
    footer .contenus-footer .desc-footer .first{
        display: flex;
        flex-direction: column;
    }
    footer .contenus-footer .desc-footer .first article h2{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first article ul{
        margin: 0;
    }
    footer .contenus-footer .desc-footer .first article ul li p{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first .cont-icons h2{
        font-size: $FontSizeCitation;
    }
    footer .contenus-footer .desc-footer .first .cont-icons div img{
        width: 2.5em;
        height: 2.5em;
        margin: 0 0.4em;
    }
    footer .contenus-footer .desc-footer .seconds{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .contenus-footer .desc-footer .seconds #one{
        margin: 0 2em;
    }
}